[submodule "tflite-micro-esp-examples"]
	path = tflite-micro-esp-examples
	url = https://github.com/espressif/tflite-micro-esp-examples.git
[submodule "tflite-micro"]
	path = tflite-micro
	url = https://github.com/tensorflow/tflite-micro
